{% extends 'back/indexhechmi.html.twig' %}


{% block body %}

<!-- Trigger/Open The Modal -->
<div class="container-fluid">

{% for type, flashMessages in app.flashes %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Posts</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 109px;">Title</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 168px;">Description</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 77px;">Ups</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Downs</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 75px;">Delete</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Approve</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Approve</th></tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                        <tr class="odd">
                                <td class="sorting_1">{{post.title}} </td>
                                <td>{{post.description}}</td>
                                <td>{{post.upVoteNum}}</td>
                                <td>{{post.downVoteNum}}</td>
                                <td> {{ include('post/_delete_form.html.twig') }}  </td>
                                <td>            {% if post.approved == 0 %}
                                    <form method="POST" action="/post/approve/{{ post.id }}"  >
                                        <input type="hidden" name="approve_token" id="post_token" value="{{ csrf_token('update-item') }}">
                                        <button><i class="fa-solid fa-thumbs-up"></i></button>
                                    </form>
                                    <span style="color: red;">Not Approved</span>
                                {% else %}
                                    <span style="color: green;">Approved</span>

                                {% endif %}
                            </td>
                            <td>{{post.createdAt | date('d-m-Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table></div></div><div class="row">
                       </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
