{% extends 'back/indexhechmi.html.twig' %}


{% block body %}
<link href="{{ asset('assets/css/post/pagination.css') }}" rel="stylesheet">

<!-- Trigger/Open The Modal -->
<div class="container-fluid">

{% for type, flashMessages in app.flashes %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Posts</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="dataTable_length">
                                    <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option>
                                    </select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter">
                                        <label>Search:<input oninput="liveSearch()" id="searchInput" type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div>
                                        <div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                            <tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 109px;" >Title
                                <select id="alphabetTitleSelect" onchange="filterTitle()"><option> </option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option><option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option><option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option><option>0</option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> <option>7</option> <option>8</option> <option>9</option>                                </select>
                            </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 168px;">Description 
                                    <select id="alphabetDescriptionSelect" onchange="filterDescription()"><option> </option><option>a</option><option>b</option><option>c</option><option>d</option><option>e</option><option>f</option><option>g</option><option>h</option><option>i</option><option>j</option><option>k</option><option>l</option><option>m</option><option>n</option><option>o</option><option>p</option><option>q</option><option>r</option><option>s</option><option>t</option><option>u</option><option>v</option><option>w</option><option>x</option><option>y</option><option>z</option><option>0</option> <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option> <option>7</option> <option>8</option> <option>9</option>                                    </select>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 77px;">Ups</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Downs</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 75px;">Delete</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;" onclick="filterApprove()">Approve</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;" >user</th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;" >Date</th>
                            </tr>
                        </thead>
                        {% for post in posts %}
                         
                        <tbody id="bodyOfTable" class="bodyOfTableStyle">
                        </tbody>
                        {% endfor %}

                    </table></div></div><div class="row">
                       </div>
                </div>
            </div>
        </div>
    </div>
    <ul id="select">
    </ul>
    {% block javascript %}
<!-- Your HTML file -->

<!-- Include your jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    var Bigconn
    var oldPosts ;
    var posts ;
    var pages ;
    let position = 0 ;
    var row =``;
    var approveVar = 0;
    function loadPosts() {
        $.ajax({
            url: '/post/back/pagination', // Replace with your actual endpoint
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // Assuming data is an array of post objects
                posts = data;
                oldPosts = posts ;
                pages = Math.ceil(posts.length / 5) -1;
                firstTable(data);
            },
            error: function (error) {
                console.error('Error loading posts:', error);
            }
        });
    }
    function loadNewPosts(position) {
        $.ajax({
            url: '/post/back/pagination', // Replace with your actual endpoint
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // Assuming data is an array of post objects
                posts = data;
                pages = Math.ceil(posts.length / 5) -1;
                updatePagination(position);
            },
            error: function (error) {
                console.error('Error loading posts:', error);
            }
        });
    }

function firstTable(response) {

    response.slice(0, 5).forEach(function (post) {
        row = row.concat( `
        <tr>
            <td>${post.title}</td>
            <td>${post.description}</td>
            <td>${post.upVoteNum}</td>
            <td>${post.downVoteNum}</td>
            <td> 
                <form onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" id="delete_token" value="{{ csrf_token('delete') }}">
                    <button onclick="deletePost(event, ${post.id})" class="btn"><i class="fa-solid fa-trash"> delete</i></button>
                </form>
                        </td>
            <td>
                ${post.approved == 0 ? 
                    `<form">
                        <input type="hidden" name="approve_token" id="post_token" value="{{ csrf_token('update-item') }}">
                        <button onclick="updateApprove(event,${post.id})"><i class="fa-solid fa-thumbs-up"></i></button>
                    </form>` : ''}
                ${post.approved == 0 ? '<span style="color: red;">Not Approved</span>' : '<span style="color: green;">Approved</span>'}
            </td>
            <td>${post.user}</td>
            <td>${post.createdAt}</td>
            <tr>
        `);
    });
    document.getElementById('bodyOfTable').innerHTML = row;
    calculPages();

}
function calculPages(){
    var numOptions = ""
    if(position != 0){
        numOptions += `<li id="li${position-1}" onclick="updatePagination(${position-1})" ><</li>`;
    }else{
        numOptions += `<li><</li>`;
    }
    for (let i=0;i<=pages;i++){
        numOptions += `<li id="li${i}" onclick="updatePagination(${i})" >${i}</li>`;
    }
    console.log(position);
    console.log(pages);
    if(position != pages){
        numOptions += `<li id="li${position+1}" onclick="updatePagination(${position+1})" >></li>`;
    }else{
        numOptions += `<li>></li>`;
    }
    document.getElementById('select').innerHTML = numOptions;
    document.getElementById(`li${position}`).style.backgroundColor = "white" ;
    
}
function updatePagination(i){
    document.getElementById(`li${position}`).style.backgroundColor = "rgb(141, 223, 255)" ;
    position = i ;
    row = `` ;
    document.getElementById(`li${position}`).style.backgroundColor = "white" ;
    posts.slice(5*i, 5*i+5).forEach(function (post) {
        row = row.concat( `
        <tr>
            <td>${post.title}</td>
            <td>${post.description}</td>
            <td>${post.upVoteNum}</td>
            <td>${post.downVoteNum}</td>
            <td> 
                <form onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" id="delete_token" value="{{ csrf_token('delete') }}">
                    <button onclick="deletePost(event, ${post.id})" class="btn"><i class="fa-solid fa-trash"> delete</i></button>
                </form>
                        </td>
            <td>
                ${post.approved == 0 ? 
                    `<form >
                        <input type="hidden" name="approve_token" id="post_token" value="{{ csrf_token('update-item') }}">
                        <button onclick="updateApprove(event, ${post.id})"><i class="fa-solid fa-thumbs-up"></i></button>
                    </form>` : ''}
                ${post.approved == 0 ? '<span style="color: red;">Not Approved</span>' : '<span style="color: green;">Approved</span>'}
            </td>
            <td>${post.user}</td>
            <td>${post.createdAt}</td>
            <tr>
        `);
    });
    calculPages(position);
    document.getElementById('bodyOfTable').innerHTML = row;
}
function updateApprove(event,id){
    event.preventDefault();
    console.log("hech");
    let formData = new FormData();
    let tokenInput = document.getElementById('post_token');
    let tokenValue = tokenInput.value;
    formData.append('approve_token', tokenValue);
    fetch(`/post/approve/${id}`,{
        method: 'POST',
        body: formData,
    }
    ).then( () =>{
        updateApprovePosts(id);
        var messageObj = {
            action: 'message',
            message: "new post is approved",
        };
        Bigconn.send(JSON.stringify(messageObj));
    }
    )

}
function updateApprovePosts(id){
    posts.map((post) => {
        if(post.id == id){
            post.approved = true ;
            updatePagination(position);
        }
    } )
}
function deletePost(event,id){
    event.preventDefault();
    console.log("hech");
    let formData = new FormData();
    let tokenInput = document.getElementById('delete_token');
    let tokenValue = tokenInput.value;
    formData.append('_token', tokenValue);
    fetch(`/post/${id}`,{
        method: 'POST',
        body: formData,
    }
    ).then( () =>{
        loadNewPosts(position);
    }
    )

}
function liveSearch(){
    var inputValue = document.getElementById('searchInput').value;
    if(inputValue==""){
        posts = oldPosts ;
        pages = Math.ceil(posts.length / 5) -1;
        position = 0;
        firstTable(posts);

    }
    posts =  oldPosts.filter((post) => {
        return post.title.toLowerCase().startsWith(inputValue.toLowerCase());
      });
      row =``;
      pages = Math.ceil(posts.length / 5) -1;
      position = 0;
    firstTable(posts);
}
function liveSearchTitle(inputValue ){
    if(inputValue==""){
        posts = oldPosts ;
        filterDescription();
    }
    posts =  posts.filter((post) => {
        return post.title.toLowerCase().startsWith(inputValue.toLowerCase());
      });
      row =``;
      pages = Math.ceil(posts.length / 5) -1;
      position = 0;
    firstTable(posts);
}
function liveSearchDescription(inputValue ){
    
    if(inputValue==""){
        posts = oldPosts ;
        filterTitle();
    }
    console.log(posts);
    posts =  posts.filter((post) => {   
        return post.description.toLowerCase().startsWith(inputValue.toLowerCase());
      });
      row =``;
      pages = Math.ceil(posts.length / 5) -1;
      position = 0;
    firstTable(posts);
}
function filterTitle(){
    var selectedValue = document.getElementById("alphabetTitleSelect").value;
    liveSearchTitle(selectedValue);
}
function filterDescription(){
    var selectedValue = document.getElementById("alphabetDescriptionSelect").value;
    liveSearchDescription(selectedValue);
}
function filterApprove(){
    testPosts();
    if (approveVar === 0){
        approveVar = 1 ;
        console.log(posts);
        posts =  oldPosts.filter((post) => {   
            return post.approved == true;
          });
        row =``;
        pages = Math.ceil(posts.length / 5) -1;
        position = 0;
        firstTable(posts);
    }else if (approveVar === 1){
        approveVar = 2 ;
        console.log(posts);
        posts =  oldPosts.filter((post) => {   
            return post.approved == false;
          });
        row =``;
        pages = Math.ceil(posts.length / 5) -1;
        position = 0;
        firstTable(posts);
    }else if (approveVar === 2){
        approveVar = 0 ;
        console.log(posts);
        posts =  oldPosts.filter((post) => {   
            return (post.approved == true || post.append == false) ;
          });
        row =``;
        pages = Math.ceil(posts.length / 5) -1;
        position = 0;
        firstTable(posts);
    }
}
    // Call the loadPosts function when the page loads
    function testPosts(){
        if(posts == undefined){
            return 0 ;
        }
        if (posts.length < 1 ){
            posts = oldPosts ;
        }
    }
    function openWeb() {
        console.log("Connecting to WebSocket...");
        Bigconn = new WebSocket('ws://localhost:8080');
    
        Bigconn.onopen = function (e) {
            console.log("Big Connection established!!!");
        };    
    }
    
    window.onload = function () {
        loadPosts();
        openWeb();
    };
</script>

{% endblock %}
{% endblock %}
